@charset "utf-8";

a{ color:#1e1e1e; text-decoration: none; }
a:hover{ color: #38a1db; }
h1,h2,h3,h4,h5,h6{ font-family: 'Microsoft Yahei'; }

/*.btn{ box-shadow:0 0 0 0; border-color: #ccc; }
.btn:hover{ box-shadow: 0 0 0 0 ; }*/
