
body{font-family: Consolas,'Microsoft Yahei';}

.navbar .brand{
	width: 140px;
	padding: 0;
	height: 80px;
	background: url(../img/tasks/logo.png) center center no-repeat;
	text-indent: -2000em;
	overflow: hidden;
}
.navbar .nav{
	margin-left: 50px;
}
.nav-collapse{
	margin-top:25px;
}
.navbar .nav>li>a{
	font-weight: bold;
	color: #6b777e;
	text-shadow: 2px 2px 0px #000;
}
.navbar .nav>li.active>a,.navbar .nav>li.active>a:hover{
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar .nav>li.active>a:hover,.navbar-inverse .nav>li>a:focus, .navbar-inverse .nav>li>a:hover{
	color: #499791;
}