@charset "utf-8";
/* CSS Document */

body{ background:url(../../images/talkCenter_v_0.2/bg.png) #ddd; font-size:14px; }
a{ color:#666; }
a:hover{ color:#000; }
.wrap{ width:1024px; height:626px; position:relative; margin:10px auto; }
	.context{ width:1024px; }
		.main{ width:700px; height:601px; float:left; overflow:hidden; position:relative; }
			.forms{ height:601px; width:2000em; position:absolute; top:0; left:0; }
			.forms .modForm{ width:700px; display:inline-block; }
		.side{ width:324px; height:601px; overflow:hidden; zoom:1; }
	.footer{ height:25px; color:#555; font-size:12px; text-shadow: 1px 1px 0px #fff; font-family:Arial, Helvetica, sans-serif; line-height:25px; text-align:right; }

.main .modPanelBox{ width:400px; height:300px; margin:80px auto 0 auto; }	
.side .modPanelBox{ height:445px; }

.welcome{  }
.welcome_tab{ padding:20px; text-align:center; }
.welcome_tab dl{ background:#ddd; display:inline-block; margin:0 20px 0 0; height:80px; width:80px; color:#fff; cursor:pointer; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; text-align:center; *zoom:1; *display:inline; }
.welcome_tab dl.current{ background:#999; }
.welcome_tab dt{ font-size:36px; height:50px; line-height:65px; font-family:Arial, Helvetica, sans-serif; overflow:hidden; }
.welcome_tab dd{ height:30px; line-height:30px; }
.welcome_tab_content{ height:140px; margin:0 20px 10px 20px; overflow:auto; }

.offline{ color:#999; }
.offline .avatar{ opacity:0.5; }

.contacts .offline{color:#999;}
.contacts input,.contacts input[type='checkbox']{ margin:0 5px 0 0; }
.contacts .avatar,.contacts .avatar img{ height:22px; width:22px; }
.contacts .avatar{ margin:0 10px 0 0; vertical-align:middle; }
.contacts li{ cursor:pointer; padding:5px; color:#333; }
.contacts li:hover{ background:#f5f5f5; }

.taskbar{ height:25px; line-height:25px; position:absolute; bottom:0; left:0; width:700px; }
.taskbar a{height:25px; padding:0 10px; display:inline-block; }
.taskbar a:hover{ background:#d5d5d5; }
.taskbar .items a{ -moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px; -webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px; border-bottom-left-radius:3px;border-bottom-right-radius:3px }
.taskbar .current{ background:#f5f5f5; }
.taskbar .more{ float:right; }
.taskbar .more .i{ margin:3px 0 0 0; }
.taskbar .moreOn{ background:#ccc; }
.taskbar .avatar img,.taskbar .avatar{ width:14px; height:14px; }
.taskbar .avatar{ margin:0 10px 0 0; }
.taskbar .taskbarList{ position:absolute; background:#fff; border:#ccc solid 2px; padding:10px; bottom:25px; right:0; height:250px; width:220px; overflow:auto; -moz-border-radius-topleft:3px;-moz-border-radius-topright:3px; -webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px; border-top-left-radius:3px;border-top-right-radius:3px;}
.taskbar .taskbarList a{ display:block; overflow:hidden; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}

.spacing{ border-right:#555 solid 1px; }
.more,.fright{ font-size:12px; }
.fright{*margin:-2.1em 0 0 0;}

.avatar{ border:#ddd solid 1px; height:48px; width:48px; background:#fff; display:inline-block; }
.avatar img{ height:48px; width:48px; }
.off .avatar{opacity:0.5; filter:alpha(opacity=50);}
.off,.off a,.contacts li.off{color:#999;}

.radius_top3px{-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px; -webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px; border-top-left-radius:3px;border-top-right-radius:3px;}
.radius_bottom3px{-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px; -webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px; border-bottom-left-radius:3px;border-bottom-right-radius:3px}

div.tip{ background:#FFFACD; border:#EEE8AA solid 1px; padding:5px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
div.tip a.more{ color:#00F; }
div.tip a.more:hover{ text-decoration:underline; }

.iHome,.iMessage,.iSearch,.iFace,.iFont,.iUp,.iDown,.iNew{ background-image:url(../../images/talkCenter_v_0.2/icons.png); background-repeat:no-repeat; vertical-align:text-bottom; margin:0 5px 0 0; }
.iHome{ background-position:-32px 0; }
.iMessage{ background-position:-16px 0; }
.iSearch{}
.iFace{background-position:-48px 0;}
.iFont{background-position:-64px 0;}
.iUp{background-position:-96px 0;}
.iDown{background-position:-80px 0;}
.iNew{ background-position:-16px -32px; }
a:hover .iHome{ background-position:-32px -16px; }
a:hover .iMessage{ background-position:-16px -16px; }
a:hover .iSearch{background-position:0px -16px;}
a:hover .iUp{background-position:-96px -16px;}
a:hover .iDown{background-position:-80px -16px;}
a:hover .iNew{ background-position:-16px -32px; }
