.icons{ margin: 0 10px 0 0; }
.icons-hot{ background: url(../img/fire.png) center center no-repeat; }
.icons-tag{ background: url(../img/tag.png) center center no-repeat; }
.icons-catalog{ background: url(../img/notepad.png) center center no-repeat; }
.icons-article{ background: url(../img/doc_lines.png) center center no-repeat; }
.icons-photo{ background: url(../img/picture.png) center center no-repeat; }

#bg{ background: #2e2e2e; position: fixed; z-index: -999; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; }
#bg>img{ /*opacity: .8;*/ position: absolute; z-index: 0; }
#mask{ background: url(../img/bgmask.png); position: fixed; z-index: -998; top: 0; left: 0; width: 100%; height: 100%; }

#navi{ font-size: 12px; text-align: right; padding: 15px 20px; position: fixed; right: 0; top: 0; }
#navi>a{ border-bottom: #aaa solid 1px; padding: .3em 0; color: #ccc; text-shadow:1px 1px 2px #2e2e2e; width: 80px; display: inline-block; text-align: left; font-family: 'Microsoft Yahei'; }
#navi>a.current,#navi>a:hover{ border-color: #fff; color: #fff; }

#sidenav{ text-shadow:1px 1px 2px #545454; padding: 10px 0; width: 220px; position: fixed; overflow: hidden; top: 150px; z-index: 1; }
#sidenav .items{ overflow: hidden; }
#sidenav .items>div{ width: 220px; }
.nav-catalog,.nav-catalog ul{ margin: 0; }
.nav-catalog li{ list-style: none; }
.nav-catalog a{ background: rgba(255,255,255,.1); color: #ddd; text-align: right; display: block; margin: 0 0 1px 0; padding: 0 10px;  height: 30px; line-height: 30px; }
.nav-catalog a>b{ font-weight: normal; }
.nav-catalog a:hover,.nav-catalog .active>a{ color: #fff; background: rgba(255,255,255,.2); }
.nav-catalog .active>a{ background: rgba(255,255,255,.3); }
.nav-catalog li ul>li a{ background: rgba(150,150,150,.1); font-size: 12px; }
.nav-catalog li>ul{ display: none; }

#header{
	background: rgba(35,35,35,.9);
	position:fixed; top: 50px;
	left: 0;
	width: 200px;
	text-align: left;
	overflow: hidden;
	z-index: 1;
	padding: 20px 0 20px 20px;
}
#header>h1{ font-size: 18px; color: #fffffc; }
#header>p{ font-size: 12px; color: #787878; margin: 0; }

#article{ margin: 130px 15px 0 235px; }
.article{ width: 33.2%; margin: .5px; background: rgba(255,255,255,.5); -webkit-border-radius: 5px; -moz-border-topright: 5px; border-radius: 5px; height: 220px; position: relative; overflow: hidden; }
.article:hover{ background: rgba(255,255,255,.6); }
.article:hover .content>.img~article{ display: block; }
.article:hover .content>.img{ opacity: .5; }
.article .content .img>img{ max-width: 130%; margin: 0% 0 0 -10%; opacity: .9; }
.article .content>.img~article{ display: none; }
.article .content>article{ padding: 10px; position: absolute; left: 0; top: 0; width: inherit; height: inherit; }
.article .content aside{ display: none; }
.article.type-photo>.content>article{ width: 292px; height:220px; overflow: hidden; padding: 0; }
.article.type-photo>.content>article .items{ width: 2000em; }
.article.type-photo>.content>article .img{ display: inline-block; width: 292px; height:220px; overflow: hidden; }
.article.type-photo>.content .scrollable-nav{ position: absolute; z-index: 2; top: 40%; left: 0; width: inherit; height: 25%; }
.article.type-photo>.content .scrollable-nav a{ width: 50%; height: 100%; display: inline-block;}
.article.type-photo>.content .scrollable-nav a:hover{ background-color: rgba(255,255,255,.1); }
.article.type-photo>.content .scrollable-nav .nav-next{ background: url(../img/nav-next.png) right center no-repeat; }
.article.type-photo>.content .scrollable-nav .nav-prev{ background: url(../img/nav-prev.png) left center no-repeat; }
.article header{ position: absolute; bottom: 0; padding: 10px; left: 0; z-index: 1; }
.article header>*{ margin: 0; font-size: 12px; color: #2e2e2e; text-shadow:1px 1px 1px #aaa; }
.article header>h3{ font-size: 14px; color: #fff; text-shadow:1px 1px 2px #545454; }
.article header>h3 a{ color: inherit; }

.article header .icons,.article aside .icons{ padding: 0 0 0 20px; background-position: left center; }

#bottom{ color: #777; position: fixed; bottom:0; right: 0; z-index: 1; }
#bottom a{ color: #aaa; font-size: 12px; text-shadow:1px 1px 2px #2e2e2e; padding:5px 10px; display: inline-block; }
#bottom a:hover{ color: inherit; }
.tip-tag{ display: none; }
