.icons{ margin: 0 10px 0 0; }
.icons-hot{ background: url(../img/) center center no-repeat; }
.icons-tags{ background: url(../img/) center center no-repeat; }
.icons-catalog{ background: url(../img/) center center no-repeat; }
.icons-article{ background: url(../img/) center center no-repeat; }
.icons-photo{ background: url(../img/) center center no-repeat; }

#bg{ background: #2e2e2e; position: fixed; z-index: -999; top: 0; left: 0; width: 100%; height: 100%; }
#bg>img{ /*opacity: .8;*/ position: absolute; z-index: 0; }
#mask{ background: url(../img/bgmask.png); position: fixed; z-index: -998; top: 0; left: 0; width: 100%; height: 100%; }

#bottom{ background: rgba(46,46,46,.8); color: #777; position: fixed; bottom:0; left: 0; width: 100%; height: 35px; z-index: 1; }
#bottom a{ color: #777; }
#bottom a:hover{ color: inherit; }
#bottom>*{ display: inline-block; width: auto; height: auto; }
#bottom .copy{ font-size: 14px; font-weight: normal; margin: 0 15px; }
#bottom nav>a{ padding: 0 7px; }
#bottom form{ margin: 0; }
#bottom~.tip{ opacity: 0; width: 200px; }

#header{ box-shadow:0 0 5px #2e2e2e; text-align: center; background: #f5f5f5; border: rgba(0,0,0,.5) solid 10px; position:fixed; bottom: 70px; left: 50px; width: 200px; height: 200px; -webkit-border-radius: 120px; -moz-border-topright: 120px; border-radius: 120px; background-clip: padding-box; overflow: hidden; }
#header>h1{ background: #fff; font-size: 18px; border: #ddd solid 1px; border-left: none; border-right: none; margin: 70px 0 0 0; padding: 15px 0; }
#header>p{ font-size: 12px; color: #545454; }

#line{ position: fixed; z-index: -997; top:0; right: 225px; width: 10px; height: 100%; border-left: #ccc dashed 1px; }
#article{ overflow: auto; }

.round-unit{ background: #fff; -webkit-border-radius: 5px; -moz-border-topright: 5px; border-radius: 5px; width: 7px; height: 7px; position: absolute; left: 1px; top:17px; }
.article{ padding: 25px 0 45px 0; position: relative; text-align: right; }
.article>*{ text-align: left; }
/*.article:hover .hover-box{ background: #2e2e2e; }*/
/*#article article:hover aside{ display: inline-block; }*/
/*.article .hover-box{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -99; opacity: .5; }*/
.article header{ text-shadow:2px 2px 1px #545454; width: 220px; padding: 10px 0 0 20px; position: relative; color: #fff; font-size: 12px; color: #999; }
.article header>h3{ font-size: 14px; }
.article header a{ color: #ddd; }
.article article{ width: 355px; background: #fffffc; padding:15px; color: #545454; }
.article .content{ padding: 0 30px 0 0 ; position: relative; }
.article .corner{ position: absolute; right: 16px; top: 20px; z-index: 1; background-image:url(../img/corner_white.png); }
.article aside{ height: 30px; line-height: 30px; background: #fff; border-top:rgba(255,255,255,1) dotted 1px; background-clip: padding-box; }
.article aside a{ color: #545454; }
.article .img{ display: inline-block; height: 115px; width: 115px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-topright: 5px; border-radius: 5px; } 
.article .img>img{ max-width: 300px; text-align: center; margin: -50px; }
.article .img.fleft{ float: left; margin: 0 10px 10px 0; }

.article header .icons,.article aside .icons{ padding: 0 0 0 20px; background-position: left center; }