@charset "utf-8";
/* CSS Document */

.i{ width:16px; height:16px; display:inline-block; }
.iMini,.iDisableMini,.iClose,.iDisableClose{ background-image:url(../images/icon.png); background-repeat:no-repeat;  }
.iMini{ background-position:0 0; }
.iMini:hover{ background-position:0 -16px; }
.iDisableMini{ background-position:0 -32px; }
.iClose{ background-position:-16px 0; }
.iClose:hover{ background-position:-16px -16px; }
.iDisableClose{ background-position:-16px -32px; }

.modForm{ width:100%; height:100%;}
	.modForm .inner{ background:#fff; position:relative; width:100%; height:100%; -moz-border-radius-topleft:3px;-moz-border-radius-topright:3px; -webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px; border-top-left-radius:3px;border-top-right-radius:3px; }
	.modForm .hd{ font-size:24px; font-family:Microsoft Yahei; background:#f5f5f5; height:50px; padding:20px 20px 5px 10px; text-align:right; -moz-border-radius-topleft:3px;-moz-border-radius-topright:3px; -webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px; border-top-left-radius:3px;border-top-right-radius:3px; }
	.modForm .hd .avatar{ float:right; margin-left:10px; }
	.modForm .menu{position:absolute; top:0; right:0; height:16px; text-align:right; padding:3px;}
	.modForm .bar{ background:#f5f5f5; text-align:right; padding:0 20px 5px 0; height:25px; }
	.modForm .bar a{ padding:5px 7px; background:#f5f5f5; display:inline-block; margin:0 0 0 5px; font-size:12px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	.modForm .bar a:hover{ background:#666; color:#fff; }
	.modForm .bar .current{ background:#888; color:#fff;}
	.modForm .content{ height:496px; position:relative; }
	/*talking*/
	.modForm .talking .talk_view{ height:326px; position:relative; padding:10px 0 0 10px; overflow:auto; }
	.talking dt.tip{padding:6px 3px 3px 3px; color:#03F;}
	.talking dt.tip.me{color:#008040;}
	.talking dd.infor{color:#333; padding:3px 3px 6px 3px;}
	.talking dd.infor img{vertical-align: baseline;}
	.modForm .talking .news{ height:330px; width:165px; position:absolute; right:3px; top:3px; font-size:12px; }
	.modForm .talking .talk_input{ height:160px;/* position:absolute; bottom:0; left:0;*/ width:100%; }
	.modForm .talking .funbar{ height:25px; line-height:25px; padding:0 10px; border-top:#ddd solid 1px; font-size:12px; }
	.modForm .talking .ftbar{ text-align:right; height:25px; line-height:25px; padding:5px 10px; }
	.modForm .talking form{ padding:0 10px; }
	.modForm .talking textarea{ height:100px; font-size:14px; border:none; width:100%; }
	/*infor*/
	.modForm .infor{ padding:50px 0 0 0; }
	.modForm .infor dl{ width:350px; margin:0 auto 50px auto; background:#eee;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:10px; }
	.modForm .infor dt{ background:#fff; height:30px; line-height:30px; padding:0 5px; font-weight:bold; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	.modForm .infor dd{ padding:10px; }
	.modForm .infor .fright{ font-weight:normal; }
	/*member*/
	.modForm .member{ padding:15px; height:466px; overflow:auto; }
	.modForm .member .panel{ margin:0 auto; background:#eee; padding:10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	.modForm .member h5{ background:#fff; height:30px; color:#666; line-height:30px; padding:0 5px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	.modForm .contacts{ margin:10px 0; }
	.modForm .member .fun{ background:none; }