@charset "utf-8";
/* CSS Document */

.i{ width:16px; height:16px; display:inline-block; }
.iMini,.iDisableMini,.iClose,.iDisableClose{ background-image:url(../images/icon.png); background-repeat:no-repeat;  }
.iMini{ background-position:0 0; }
.iMini:hover{ background-position:0 -16px; }
.iDisableMini{ background-position:0 -32px; }
.iClose{ background-position:-16px 0; }
.iClose:hover{ background-position:-16px -16px; }
.iDisableClose{ background-position:-16px -32px; }

.modForm{ width:100%; height:100%;}
	.modForm .inner{ background:#fff; position:relative; width:100%; height:100%; -moz-border-radius-topleft:3px;-moz-border-radius-topright:3px; -webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px; border-top-left-radius:3px;border-top-right-radius:3px; }
	.modForm .hd{ font-size:24px; font-family:Microsoft Yahei; background:#f5f5f5; height:50px; padding:20px 20px 5px 10px; text-align:right; -moz-border-radius-topleft:3px;-moz-border-radius-topright:3px; -webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px; border-top-left-radius:3px;border-top-right-radius:3px; }
	.modForm .hd .avatar{ float:right; margin-left:10px; }
	.modForm .menu{position:absolute; top:0; right:0; height:16px; text-align:right; padding:3px;}
	.modForm .bar{ background:#f5f5f5; text-align:right; padding:0 20px 5px 0; height:25px; }
	.modForm .bar a{ padding:5px 7px; background:#f5f5f5; display:inline-block; margin:0 0 0 5px; font-size:12px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	.modForm .bar a:hover{ background:#666; color:#fff; }
	.modForm .bar .current{ background:#888; color:#fff;}
	.modForm .content{ height:496px; position:relative; overflow:hidden; }
	/*talking*/
	.modForm .talking .talk_view{ height:326px; position:relative; padding:10px 0 0 10px; overflow:auto; }
	.talking dt.tip{padding:6px 3px 3px 3px; color:#03F;}
	.talking dt.tip.me{color:#008040;}
	.talking dd.infor{color:#333; padding:3px 3px 6px 3px;}
	.talking dd.infor img{vertical-align: baseline;}
	.modForm .talking .news{ height:330px; width:165px; position:absolute; right:3px; top:3px; font-size:12px; }
	.modForm .talking .talk_input{ height:160px;/* position:absolute; bottom:0; left:0;*/ width:100%; }
	.modForm .talking .funbar{ height:25px; line-height:25px; padding:0 10px; border-top:#ddd solid 1px; font-size:12px; }
	.modForm .talking .ftbar{ text-align:right; height:25px; line-height:25px; padding:5px 10px; }
	.modForm .talking form{ padding:0 10px; }
	.modForm .talking textarea{ height:100px; font-size:14px; border:none; width:100%; }
	/*infor*/
	.modForm .infor{ padding:50px 0 0 0; }
	.modForm .infor dl{ width:350px; margin:0 auto 50px auto; background:#eee;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:10px; }
	.modForm .infor dt{ background:#fff; height:30px; line-height:30px; padding:0 5px; font-weight:bold; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	.modForm .infor dd{ padding:10px; }
	.modForm .infor .fright{ font-weight:normal; }
	/*member*/
	.modForm .member{ padding:15px; height:466px; overflow:auto; }
	.modForm .contacts{ margin:10px 0; }
	.modForm .member .fun{ background:none; padding:10px 0 0 0; border-top:#fff dashed 1px; }
	/**notice**/
	.modForm div.notice{ height:466px; padding:15px; overflow:auto; }
	.modForm div.notice .bar{ background:none; padding:0; }
	.modForm div.noticeCreate form{ height:446px; }
	.modForm div.noticeCreate form label{ width:80px; display:block; }
	.modForm div.noticeCreate form label.receipt{ display:inline; }
	.modForm div.noticeCreate form textarea{ display:inline-block; *display:inline; *overflow:hidden; *zoom:1; }
	.modForm div.noticeView{  }
	.modForm div.noticeView .notice_title{ font-size:14px; }
	.modForm div.noticeView .notice_content{ line-height:22px; }
	.modForm div.noticeView .receipt{ background:#f5f5f5; padding:10px; margin:10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	.modForm div.noticeView span.time,.modForm div.noticeView span.sender{ color:#999; font-family:SimSun; font-weight:normal; font-size:12px; }
	.modForm div.noticeView h5{ margin:0 0 10px 0; }
	.modForm div.noticeView .fun{ border-top:#fff dashed 1px; padding:5px 0 0 0; font-size:12px; }
	.modForm div.notices{  }
	.modForm table.notice .odd{ background:#f5f5f5; }
	.modForm table.notice thead .fun{ padding:10px 0 5px 5px; border-bottom:#fff dashed 1px; }
	.modForm table.notice tfoot .fun{ padding:5px 0 0 5px; border-top:#fff dashed 1px; }
	.modForm table.notice tbody td{ padding:5px 0; }
	.modForm table.notice tbody tr:hover{ background:#fff; }
	.modForm table.notice td{ font-size:14px; vertical-align:middle; }
	.modForm table.notice td.checkbox{ width:25px; padding:0 0 0 5px; }
	.modForm table.notice td.sender{ width:80px; }
	.modForm table.notice td.title{ }
	.modForm table.notice td.time{ width:80px; text-align:center; font-size:12px; }
	
	/**panel**/
	.modForm .panel{ margin:0 auto; background:#eee; padding:10px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	.modForm .panel h5,.modForm .panel .sub{ background:#fff; height:30px; color:#666; line-height:30px; padding:0 5px; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	.modForm .panel .sub{ height:auto; }
	