@charset "utf-8";

aside>.search,aside>.tab{ margin: 10px 0; }
aside>.search{  }
aside>.search>input[type='text']{ border: #89c3eb solid 1px; padding: 0; background: #fffffc; height: 30px; line-height: 24px; margin: 0 5px 0 0; width: 221px; }
aside>.search>input[type='submit']{ background: url(../img/icons.png) #89c3eb 0 -32px no-repeat; border: none; display: inline-block; height: 32px; width: 32px; padding: 0; overflow: hidden; text-indent: 200em; }
aside>.tab{  }
aside>.tab .bar>a{ display: block; background: #999; margin: 0 0 5px 0; }
aside>.tab .bar>a>i{ text-indent: -20em; overflow: hidden; height: 32px; width: 32px; }
aside>.tab .bar>.fire>i{ background-position: -32px -30px; }
aside>.tab .bar>.catalog>i{ background-position: -64px -30px; }
aside>.tab .bar>.tag>i{ background-position: -96px -30px; }
aside>.tab .bar>.calendar>i{ background-position: -128px -30px; }
aside>.tab .bar>a:hover,aside>.tab .bar>a.current{ background-color: #121212; }
aside>.tab .content{ width: 223px; margin: 0 5px 0 0; background: #89c3eb; position: relative; }
aside>.tab .content .flag{ position: absolute; top:25px; left: -38px; width: 38px; height: 21px; background: url(../img/flag.png) no-repeat; }
aside>.tab .content>div{ padding: 15px; }
aside>.tab .content a{ color: #fff; }
aside>.tab .content a:hover{ color: #eee; }
aside>.tab .content nav>a{ display: block; }
.hots>hgroup>i{ width: 32px; height: 32px; float: left; background-position: -32px -96px; margin: 0 5px 0 0; }
