@charset "utf-8";
/* CSS Document */

body{ background: url(../images/bg.jpg) repeat-x; overflow: hidden; }

.avatar{ margin: 0 10px 0 0; vertical-align: middle; }
.contacts input[type='checkbox']{ margin: 0 5px 0 0; }

/**layout**/

.topbar{ position: absolute; top:5px; right: 5px; }
.topbar a{ padding:5px 10px; background: #666; color:#fff; display: inline-block; *display: inline; zoom:1; }
.topbar a:hover{ background: #999; }

.channel{ position: absolute; top:5px; left:5px; width:200px; }
span.channel_btn a{ background: #999; color:#fff; width: 16px; height: 16px; display: inline-block; *display: inline; zoom:1; vertical-align: top; margin: 0 5px 0 0; }
span.channel_btn a.current{ height: 32px; background: #666; }
span.channel_btn a:hover{ background: #ccc; }

.channel_fun{ font-family:"MS Serif", "New York", serif; }
.channel_fun a{ background: #333; color:#fff; font-size: 9px; width: 16px; height: 16px; line-height: 16px; text-align: center; display: inline-block; *display: inline; zoom:1; vertical-align: top; margin: 0 5px 0 0; }

.sidebar{ position: absolute; right:0px; top:50px; }

.sidebar .user_infor{ background: #1494ed; color: #fff; width: 150px; padding: 10px; margin: 0 10px 0 0; position: absolute; right:0; top:0;  }
.sidebar .avatar{ background: #fff; margin: 0 5px 0 0; display:inline-block; *display: inline; zoom:1; cursor: pointer; }
.sidebar .infor{ display: inline-block; *display: inline; zoom:1; }

.sidebar .connection{ width: 220px; position: absolute; right:0; top:100px; margin:0 10px 0 0; }
.sidebar .connection .tab,.sidebar .connection .tab_content{ vertical-align: top; }
.sidebar .connection .tab{ display: inline-block; *display: inline; zoom:1; }
.sidebar .connection .tab a{ padding: 5px 10px; background: #666; color:#fff; display: inline-block; *display: inline; zoom:1; width: 50px; text-align: center; }
.sidebar .connection .tab a:hover{ background: #999; }
.sidebar .connection .tab a.current{ font-weight: bold; }
.sidebar .connection .tab_content{ display: inline-block; *display: inline; zoom:1; width: 130px; padding: 10px; background: #eee; }
.sidebar .connection .tab_content li{ color:#666; padding: 5px; }