@charset "utf-8";
/* CSS Document */

/**tab**/
.tab{zoom:1; background:#e9e9e9; padding:5px 10px; }
.tab:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.tab li{ float:left; }
.tab li a{ display:block; padding:3px 5px; border:#e9e9e9 solid 2px; }
.tab .current{ background:#fff; border:#d5d5d5 solid 2px; }

/**table**/
/*.table{ width:100%; background:#ddd; }
.table input[type="checkbox"]{ height:auto; }
.table thead td{ background:#eee; padding:3px; }
.table tbody td{ background:#fff; padding:3px; }*/

/**input**/
input.text{ background:url(../../images/text_bg.png) #fff repeat-x; height:25px; line-height:25px; border:#ccc solid 1px; }
textarea.text{background:url(../../images/text_bg.png) #fff repeat-x;line-height:25px; border:#ccc solid 1px; font-size:12px;}
/*select.select{ background:url(../../images/text_bg.png) repeat-x; height:25px; line-height:25px; border:#ccc solid 1px; }*/

/**icon**/
.i{ width:16px; height:16px; vertical-align:text-bottom; *vertical-align:middle; display:inline-block; *display:inline; overflow: hidden; zoom:1; }
.iMini,.iDisableMini,.iClose,.iDisableClose{ background-image:url(../../images/icon.png); background-repeat:no-repeat; }
.iMini{ background-position:0 0; }
.iMini:hover{ background-position:0 -16px; }
.iDisableMini{ background-position:0 -32px; }
.iClose{ background-position:-16px 0; }
.iClose:hover{ background-position:-16px -16px; }
.iDisableClose{ background-position:-16px -32px; }

/**size**/
.w100p{ width:100%; }

/**layout**/
.fleft{ float:left; }
.fright{ float:right; }
.clear{ clear:both; }
.clearfix{ zoom:1; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }

.tb{ display:table; }
.tb-row{ display:table-row; }
.tb-cell{ display:table-cell; }

/**text**/
.tleft{ text-align:left; }
.tright{ text-align:right; }
.tcenter{ text-align:center; }
.t2em{text-indent:2em;}
.tinherit{text-indent:inherit;}

/**spacing**/
.spacing{ background:url(../../images/spacing_666.png) right center no-repeat; padding-right:10px; margin-right:10px; }

/**padding**/
.ptop10{ padding-top:10px; }
.pbottom10{ padding-bottom:10px; }
.pbottom5{ padding-bottom:5px; }
.pleft5{ padding-left:5px; }
.pleft10{ padding-left:10px; }
.pleft15{ padding-left:15px; }
.pleft25{ padding-left:25px; }
.pright10{ padding-right:10px; }
.ptb10{ padding-top:10px; padding-bottom:10px; }
.plr10{ padding-left:10px; padding-right:10px; }
.plr5{ padding-left:5px; padding-right:5px; }
.p10{ padding:10px; }
.p5{ padding:5px; }
.p3{ padding:3px; }

/**margin**/
.top10{ margin-top:10px; }
.top5{ margin-top:5px; }
.bottom10{ margin-bottom:10px; }
.bottom5{ margin-bottom:5px; }
.left10{ margin-left:10px; }
.left20{ margin-left:20px; }
.right5{ margin-right:5px; }
.right10{ margin-right:10px; }
.tb10{ margin-top:10px; margin-bottom:10px; }
.tb5{ margin-top:5px; margin-bottom:5px; }
.lr10{ margin-left:10px; margin-right:10px; }
.m10{ margin:10px; }

/**list**/
ul.li_disc li,ol.li_disc li{ list-style:disc; }

ul.ubottom5 li{ margin-bottom:5px; }

/**size**/
.size12{ font-size:12px; }
.size16{ font-size:16px; }