#wrap{
	zoom:1;
	overflow: hidden;
}
#wrap:after{ 
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

#side{
	width: 250px;
	float: left;
	height: 100%;
	text-align: center;
	position: relative;
	background: url(../img/side_bg.png) #ddd right repeat-y;
}
#main{
	margin: 0 0 0 250px;
	padding: 10px;
}

#header{
	font-size: 12px;
	font-family: 'Microsoft Yahei';
	margin: 30px 0 45px 0;
	padding: 0 0 15px 0;
	color: #b28c6e;
	border-bottom:#999 dashed 1px;
}
#footer{
	font-size: 11px;
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	color:#999;
}
#nav{ 
	list-style: none; 
	margin: 0 0 10px 0;
	letter-spacing: -0.31em; /* webkit */
    *letter-spacing: normal; /* IE < 8 重置 */
    word-spacing: -0.43em; /* IE < 8 && gecko */
}
#nav li{
	display: block;
	zoom:1;
	letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;

    margin: 0 10px 0 0;
    font-size: 24px;
    line-height: 48px;
    font-family: 'Microsoft YaHei';
}
#nav a{
	color: #b3ada0;
	text-decoration: none;
}
#nav a:hover{
	color: #b28c6e;
}
#nav a>span{
	/*font-size: 10px;*/
}
#content{}
#content .entry-image img{ width:115px; background: #eee; padding: 10px; vertical-align: top; margin: 0 5px 0 0; }
#content .bar{ text-align: right; }

#share{
	list-style: none; 
	margin: 0 0 10px 0;
	letter-spacing: -0.31em; /* webkit */
    *letter-spacing: normal; /* IE < 8 重置 */
    word-spacing: -0.43em; /* IE < 8 && gecko */
}
#share li{
	display: inline-block;
	zoom:1;
	*display: inline;
	letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    margin: 0 10px 0 0;
}
#share li>a{
	display: block;
	vertical-align: bottom;
	text-align: center;
	width: 50px;
}
#share li>a>i{
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: bottom;
	text-align: center;
	background: #eee;
}

.tag a{ padding:3px 5px; margin: 0 0 5px 0; display: inline-block; *display: inline; zoom:1; }
.tag .t1{ background: #666; color: #eee; }
.tag .t2{ background: #999; color: #eee; }
.tag .t3{ background: #aaa; color: #eee; }
.tag .t4{ background: #ccc; color: #fff; }
.tag .t5{ background: #ddd; color: #fff; }