@charset "utf-8";

.tb{ display: table; }
.tb>.line{ display: table-row; }
.tb>.line>.unit{ display: table-cell; }

/* =24Grid
-----------------------------------------------------------------------------*/
.line{
  letter-spacing: -0.31em; /* webkit */
    *letter-spacing: normal; /* IE < 8 重置 */
    word-spacing: -0.43em; /* IE < 8 && gecko */
}
.unit{
  display: inline-block;
  zoom:1;
  *display: inline;
  letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
}

.size1of2{ width: 50%; }
.size1of3,.size8of24{ width: 33.33333333333333%; }
.size2of3,.size16of24{ width: 66.66666666666667%; }
.size1of4,.size6of24{ width: 25%; }
.size3of4,.size18of24{ width: 75%; }
.size1of6,.size4of24{ width: 16.66666666666667%; }
.size1of8,.size3of24{ width: 12.5%; }
.size3of8,.size9of24{ width: 37.5%; }
.size5of8,.size15of24{ width: 62.5%; }
.size7of8,.size21of24{ width: 87.5%; }
.size1of12,.size2of24{ width: 8.33333333333333%; }
.size5of12,.size10of24{ width: 41.66666666666667%;  }
.size7of12,.size14of24{ width: 58.33333333333333%; }
.size10of12,.size20of24{ width: 83.33333333333333%; }
