
body{font-family: Consolas,'Microsoft Yahei';}
a{
	color: #181f23;
}
a:hover,a:active,a:focus{
	color: #499791;
}

/**
 * ui element
 */


.task-input{
	margin:0;
	width: 100%;
}
.task-input input[type="text"]{
	padding: 0;
	text-indent: 1em;
	border:none;
	height: 55px;
	margin:0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	border-bottom: solid #ddd 1px;
	width: 100%;
}

.tasks{
	list-style: none;
	margin: 0;
}
.tasks>li{
	height: 56px;
	line-height: 55px;
	border-bottom: solid #ddd 1px;
}
.tasks>li.active{
	background-color: #eeeded;
}
.tasks>li>.editor{
	width: 100%;
	display: none;
	border: none;
	height: 55px;
	padding: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-indent: 1em;
}
.tasks>li.editing>.view{
	display: none;
}
.tasks>li.editing>.editor{
	display: inline-block;
}
.tasks>li label.checkbox{
	padding:18px 21px;
	vertical-align: top;
	border-right: solid #ddd 1px;
}
.tasks>li label>input[type="checkbox"]{
	float: none;
	margin: 0;
}
.tasks>li .pull-right{
	padding-right: 15px;
}
.tasks>li .tags{
	color: #999;
}
.tasks>li .tags a{
	color: inherit;
}
.tasks .disable{
	color: #aaa;
}
.tasks .disable .icon-time{
	opacity: .3;
}
.tasks .disable .title{
	text-decoration:line-through;
	color: #aaa;
}
.tasks a.remove{
	opacity: 0;
	color: #fff;
	text-decoration: none;
	font-size: 10px;
	background-color: #999;
	-webkit-border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	border-radius: 50% 50%;
	height: inherit;
	height: 19px;
	line-height: 19px;
	width: 19px;
	text-align: center;
	display: inline-block;
}
.tasks a.remove:hover{
	background-color: #499791;
}
.tasks li:hover a.remove{
	opacity: 1;
	color: #fff;

	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}


.widget.noborder{
	border-bottom: none;
}
.widget{
	border-bottom:solid 1px #192125;
	padding: 15px;
	color: #eeeded;
}
.widget>.widget-head{
	font-weight: bold;
	margin-bottom: 10px;
}

.btn-tag{
	background: none;
	background-color:#499791;/* rgba(0,0,0,.35);*/
	color: #eeeded;
	border:none;
	text-shadow: none;
	margin-right: 10px;
	margin-bottom:3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: relative;
	padding:4px 16px;
}
.btn-tag:hover,.btn-tag:active,.btn-tag:focus{
	background-color:#32817c; /*rgba(0,0,0,.75);*/
	color: #eeeded;
}
.btn-tag i.icon-remove{
	position: absolute;
	top:6px;
	right: 6px;
	visibility: hidden;
	opacity: 0;
}


/**
 * layout
 */

#wrapper{
	background-color: #111;
	zoom:1;
}
#wrapper:after{ content: ""; clear: both; line-height: 0; display: table; }

#sidebar{
	float: right;
	width: 34.04255319148936%;
	background-color: #1f282d;
}
#sidebar>.bar{
	display: none;
}
#mainbar{
	/*float: left;*/
	margin-left: 0;
	width: 65.95744680851064%;
}

.navbar .brand{
	width: 140px;
	padding: 0;
	height: 80px;
	background: url(../img/tasks/logo.png) center center no-repeat;
	text-indent: -2000em;
	overflow: hidden;
	position: absolute;
	top:0;
	left: 0;
	margin: 0;
}
.navbar .navbar-inner{
	min-height: 80px;
}
.navbar .container-fluid{
	padding-top: 25px;
}
.navbar .nav{
	margin-left: 155px;
}
.navbar .nav>li>a{
	font-weight: bold;
	color: #6b777e;
	text-shadow: 0px 1px 0px #000;
}
.navbar .nav>li.active>a,.navbar .nav>li.active>a:hover{
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.navbar .nav>li.active>a:hover,.navbar-inverse .nav>li>a:focus, .navbar-inverse .nav>li>a:hover{
	color: #499791;
}
#sign{
	padding-top: 10px;
}
#sign a{
	color:#eeeded;
	line-height: 100%;
	text-decoration: none;
}
#sign a>i{
	color: #499791;
}
#sign a .caret{
	border-top: solid 4px #eeeded;
}

footer{
	text-align: right;
	font-size: 12px;
	color: #6b777e;
	padding: 15px;
	clear: none;
	background-color: #181f23;
}
footer p{
	margin: 0;
}
footer p>a{
	color: #e35f48;
}

.widget-tasks{
	background-color: #fff;
	border-bottom:none;
	padding: 0;
}

.widget-time{
	padding: 0;
	height: 205px;
	overflow: hidden;
	position: relative;
}
.widget-time .widget-content{
	position: absolute;
	width: 100%;
}

.widget-time .content{
	position: relative;
	height: 60px;
	padding: 35px 50px 50px 50px;
}
.widget-time .content:after{
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	width: 83px;
	height: 83px;
	content: '';
	right: 30px;
	top: 25px;
}
.widget-time .content>div{
	line-height: 100%;
}
.widget-time .content .work{
	font-size: 14px;
}
.widget-time .content .time{
	font-size: 60px;
}
.widget-time .content .time>small{
	font-size: 30px;
	color: rgba(0,0,0,.20);
}
.widget-time .foot{
	height: 60px;
	line-height: 60px;
}
.widget-time .foot>a{
	height: 60px;
	color: #eeeded;
	display: inline-block;
}
.widget-time .foot>a:hover,.widget-time .foot>a:active,.widget-time .foot>a:focus{
	text-decoration: none;
	color: rgba(0,0,0,.45);
	background-color: rgba(0,0,0,.03845);
}

.widget-time .timer{
	background-color: #e35f48;
}
.widget-time .timer .foot{
	background-color: #d85640;
}
.widget-time .timer .foot>a{
	padding:0 25px;
}
.timer .content:after{
	background-image: url(../img/tasks/widget-time-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	width: 83px;
	height: 83px;
	content: '';
	right: 30px;
	top: 25px;
}


.widget-time .complete{
	background-color: #2eb398;
}
.complete .content>h5{
	line-height: 100%;
	font-size: 30px;
	color: rgba(0,0,0,.55);
	font-weight: normal;
}
.complete .content:after{
	background-image: url(../img/tasks/widget-complete-bg.png);
}
.complete .foot>a{
	text-align: center;
}
.widget-time .complete .foot{
	background-color: #1d9079;
}

.widget-time .rest{
	background-color: #58a7d0;
}
.rest .content:after{
	background-image: url(../img/tasks/widget-rest-bg.png);
	width: 85px;
}
.widget-time .rest .foot{
	background-color: #349ed1;
}
.rest .foot>a{
	display: block;
	text-align: center;
}

.widget-tags .btn-tag:hover{
	padding:4px 22px 4px 10px;
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	-ms-transition: padding .3s;
	-o-transition: padding .3s;
	transition: padding .3s;
}
.widget-tags .btn-tag:hover i.icon-remove{
	visibility: visible;
	right: 6px;
	opacity: 1;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}