body{
	background: #F6F5EE;
	color:#6D6A67;
}
a{
	color:#1e1e1e;/*D6A34B*/
	text-decoration: none;
}
a:hover{
	color:#D6A34B;/*b28c6e*/
}
h1,h2,h3,h4,h5,h6{
	color: #000;
}

#wrap{
	zoom:1;
	overflow: hidden;
}
#wrap:after{ 
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#menu{
	width: 200px;
	float: left;
	height: 100%;
	text-align: center;
	position: absolute;
	background: #1E1E1E;
	z-index: 1;
}
#menu.smallmenu{
	width: 50px;
}
#menu.smallmenu>*{
	visibility: hidden;
	display: none;
}
#menu.smallmenu .wrap{
	visibility: visible;
	display: block;
	font-family: 'Microsoft Yahei';
	font-size: 12px;
	border-bottom:#999 dashed 1px;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
}
#menu.smallmenu .wrap>h1{
	color: #D6A34B;
}
#content{
	margin: 0 0 0 200px;
	height: 100%;
	background: url(../img/side_bg.png) 0 repeat-y;
	position: relative;
	z-index: 0;
}
#content.article{
	margin: 0 0 0 50px;
}
#header{
	font-size: 12px;
	font-family: 'Microsoft Yahei';
	margin: 30px 10px;
	padding: 0 5px 15px 5px;
	color: #EDEADC;
	border-bottom:#999 dashed 1px;
}
#header h1{
	color: #D6A34B;
}
#header h1>span{
	font-size: 12px;
	color: #dcd3b2;
	margin: 0 0 0 3px;
}
#header p{
	text-align: left;
	text-indent: 2em;
}
#footer{
	font-size: 11px;
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	color:#EDEADC;
}
#nav{ 
	list-style: none; 
	margin: 0 0 10px 0;
	letter-spacing: -0.31em; /* webkit */
    *letter-spacing: normal; /* IE < 8 重置 */
    word-spacing: -0.43em; /* IE < 8 && gecko */
}
#nav li{
	display: block;
	zoom:1;
	letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;

    margin: 0 10px 0 0;
    font-size: 18px;
    line-height: 36px;
    font-family: 'Microsoft YaHei';
}
#nav a{
	color: #D6A34B;
	text-decoration: none;
}
#nav a:hover{
	color: #EDEADC;
}
#nav a>b{
	display: none;
}
#nav a.current{
	color: #EDEADC;
}
#nav a.current>span{
	display: none;
}
#nav a.current>b{
	display: inline;
}


#main{
	height: 100%;
	overflow: auto;
}
#side{
	height: 100%;
	position: relative;
}
#side .line{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-left: #9e9e9e dotted 1px;
	border-right: #9e9e9e dotted 1px;
	/*width: 25px;*/
	z-index: 0;
}
#side .menu{
	list-style: none; 
	margin: 0;
	display: block;
	/*writing-mode:tb-rl;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg) translate(11px,-30px);
	-moz-transform-origin:right bottom;
	-o-transform: rotate(-90deg);
	white-space:nowrap;*/
	text-align: right;
	position: absolute;
	left: -49px;
}
#side .menu li{
	display: inline;
}
#side .menu li>a{
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 45px;
	font-size: 40px;
	color: #2A2827;
}
#btn_side_menu_right{
	background: url(../img/nav_right.png) #D6A34B center center no-repeat;
}
#side .content{
	padding:0 15px;
	z-index: 1;
	position: relative;
}
#side .content h4{
	border-bottom:#E1E1E1 solid 1px;
	padding: 0 0 .3em 0;
}

#share{
	list-style: none; 
	margin: 0 0 10px 0;
	letter-spacing: -.31em; /* webkit */
    *letter-spacing: normal; /* IE < 8 重置 */
    word-spacing: -.43em; /* IE < 8 && gecko */
}
#share li{
	display: inline-block;
	zoom:1;
	*display: inline;
	letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    margin: 1em .8em 0 0;
}
#share li>a{
	display: block;
	vertical-align: bottom;
	text-align: center;
	width: 3em;
}
#share li>a>i{
	display: inline-block;
	width: 3em;
	height: 3em;
	vertical-align: bottom;
	text-align: center;
	background: #eee;
}


.article{
	margin: 25px 15px 15px 25px;
}
.article.unit{
	width: 500px;
}
.article>.content{
	display: inline-block;
}
.article>.tag{
	text-align: right;
}
.article>.tag>span{
	display: inline-block;
	background: #D6A34B;
	width: 75px;
	height: 68px;
	padding: 22px 15px 0 0;
	font-family: Arvo,Cambria,Georgia,Times,serif;
	color: #1e1e1e;
	text-align: right;
	margin: 0 25px 0 0;
	-moz-border-radius:75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
}
.article>.tag .day{
	font-size: 1.6875em;
	display: block;
}
.article h3{
	border-bottom:#E1E1E1 solid 1px;
	padding: 0 0 .3em 0;
}

.tag a{ padding:3px 5px; margin: 0 0 5px 0; display: inline-block; *display: inline; zoom:1; background: #d8e698; color: #fff; }
.tag a:hover{ background: #69821b; }
.tag .t1{ background: #69821b; color: #eee; }
.tag .t2{ background: #7b8d42; color: #eee; }
.tag .t3{ background: #99ab4e; color: #fff; }
.tag .t4{ background: #aacf53; color: #fff; }