@charset "utf-8";
/* CSS Document */

.mod{ }
.inner{}
.hd,.bd,.ft,.menu{overflow:hidden;_overflow:visible; _zoom:1;}

.modTalkForm{ position: absolute; width:500px; height: 380px; }
	.modTalkForm .hd{ background: #408DD2; color:#fff; position: relative; padding:0 0 0 79px; height: 25px; line-height: 25px; font-family:'Microsoft Yahei'; overflow: visible; }
	.modTalkForm .hd .avatar{ position: absolute; bottom: 0; left: 15px; border:#408DD2 solid 2px; }
	.modTalkForm .ft{ background: #eee; height: 25px; line-height: 25px; text-align: right; padding: 0 1em 0 0; }
	.modTalkForm .menu{position:absolute; top:0; right:0; height:16px; text-align:right; padding:3px;}
	.modTalkForm .inner{ background:#fff; position:relative; border:#408DD2 solid 1px; border-left: none; border-right:none; }	
	.modTalkForm .menu{position:absolute; top:0; right:0; height:16px; text-align:right; padding:3px;}
	.modTalkForm .content{ position:relative; }
	/*talking*/
	.modTalkForm .talking .talk_view{ height:326px; position:relative; padding:10px 0 0 10px; overflow:auto; }
	.modTalkForm .talking .talk_view dl{ width:500px; }
	.talking dt.tip{padding:6px 3px 3px 3px; color:#03F;}
	.talking dt.tip.me{color:#008040;}
	.talking dt.tip span{*margin:0 5px 0 0;}
	.talking dd.infor{color:#333; padding:3px 3px 6px 3px;word-break:break-all;word-wrap:break-word;}
	.talking dd.infor img{vertical-align: baseline;}
	.modTalkForm .talking .news{ height:330px; width:155px; position:absolute; right:18px; top:3px; font-size:12px; z-index:2; }
	.modTalkForm .talking .talk_input{/*  height:160px;position:absolute; bottom:0; left:0;*/ width:100%; background: #fff; }
	.modTalkForm .talking .funbar{ height:25px; line-height:25px; padding:0 10px; border-top:#ddd solid 1px; font-size:12px; }
	.modTalkForm .talking .funbar a{ display:inline-block; *height:16px; *padding:4.5px 0; *margin:0 5px 0 0; *zoom:1; *overflow: hidden; *line-height: 12px; }
	.modTalkForm .talking .funbar a i{margin: 0;}
	.modTalkForm .talking .fright{ *margin:-29px 5px 0 0; }
	.modTalkForm .talking .ftbar{ height:30px; line-height:30px; padding:5px 0; }
	.modTalkForm .talking form{ padding:0 10px; }
	.modTalkForm .talking textarea{ height:50px; *height:47px; font-size:14px; border:none; *border:#fff solid 0px; width:100%; _width:680px; }
	.modTalkForm .talking .count{ margin: 0 0 0 10px; font-size: 14px; color: #999; font-family: "Verdana"; }
	.modTalkForm .talking .question .speaker{ color: blue; }
	.modTalkForm .talking .question li{ font-size: 14px; }
	/*infor*/
	.modTalkForm .infor{ padding:50px 0 0 0; }
	.modTalkForm .infor dl{ width:350px; margin:0 auto 50px auto; background:#eee;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; padding:10px; }
	.modTalkForm .infor dt{ background:#fff; height:30px; line-height:30px; padding:0 5px; font-weight:bold; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; }
	.modTalkForm .infor dd{ padding:10px; }
	.modTalkForm .infor .fright{ font-weight:normal; }