<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<load href="__PUBLIC__/css/bootstrap.min.css"/>
	<load href="__PUBLIC__/css/bootstrap-responsive.min.css"/>
	<load href="__PUBLIC__/css/style.css"/>
	<load href="__PUBLIC__/css/style-responsive.min.css"/>
	<load href="__PUBLIC__/js/plug-in/json2.js"/>
	<load href="__PUBLIC__/js/plug-in/jquery-1.8.2.min.js"/>
	<load href="__PUBLIC__/js/plug-in/jquery.easing.1.3.js"/>
	<load href="__PUBLIC__/js/plug-in/underscore.js"/>
	<load href="__PUBLIC__/js/plug-in/backbone.js"/>
	<load href="__PUBLIC__/js/plug-in/bootstrap.min.js"/>
	<load href="__PUBLIC__/js/common.js"/>
</head>
<body class="style-think-work">
	<header id="header" class="navbar navbar-fixed-top">
		<div class="container">
			<div id="preheader" class="clearfix">
				<span class="pull-right"><a href="#signup">signup</a> / <a href="#login"><i class="icon-user"></i> login</a></span>
			</div>
			<a class="brand" id="logo" href="#">Think-Work</a>
		</div>
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="nav-collapse pull-right collapse">
					<ul class="nav">
						<li class="active"><a href="#home">home</a></li>
						<li><a href="#blog">blog</a></li>
						<li class="dropdown">
							<a href="#tools" class="dropdown-toggle" data-toggle="dropdown">tools<b class="caret"></b></a>
							<ul class="dropdown-menu">
							<li><a href="#todolist">todolist</a></li>
							<li><a href="#calendar">calendar</a></li>
							</ul>
						</li>
						<li><a href="#about">about</a></li>
					</ul>
				</div>
			</div>
		</div>
    </header>
	<div id="body" class="container">
		<section class="row-fluid">
			<article class="span8">
				<form action="" id="task-input">
					<input type="text" name="title" class="span12">
				</form>
				<ul id="todolist">
					<li>
						<label class="checkbox">
							<input class="completed" type="checkbox">
							<span class="name">test1</span>
							<span class="pull-right"><i class="icon-time"></i><span class="time">1</span></span>
						</label>
					</li>
					<li>
						<label class="checkbox">
							<input class="completed" type="checkbox">
							<span class="name">test1</span>
							<span class="pull-right"><i class="icon-time"></i><span class="time">1</span></span>
						</label>
					</li>
					<li>
						<label class="checkbox">
							<input class="completed" type="checkbox">
							<span class="name">test1</span>
							<span class="pull-right"><i class="icon-time"></i><span class="time">1</span></span>
						</label>
					</li>
				</ul>
			</article>
			<asice class="span4">
				<section class="panel-clock">
					<h1>没有工作进行</h1>
					<span class="clock">
						<span>2</span>
						<span>5</span>
						<span>.</span>
						<small>0</small>
						<small>0</small>
					</span>
				</section>
			</asice>
		</section>
	</div>
	<footer>
		<p class="container">&copy 2013 <a href="">Think-Work</a> All Rights Reserved.</p>
	</footer>

	<script id="todolist-item" type="text/templet">
		<li>
			<label class="checkbox">
				<input class="completed" type="checkbox" <%= completed ? 'checked="checked"' : '' %> >
				<span class="name"><%- name %></span>
				<span class="pull-right"><i class="icon-time"></i><span class="time"><%- time %></span></span>
			</label>
		</li>
	</script>

</body>
</html>